body {
	background-color: #8aa1ab;
}

img{
	width: 30%;
	display: block;
	margin: auto;
}

#insert *{
	margin: auto;
}

#content{
	margin:auto;
}

#insert{
	padding: 10px;
	background-color: #e39183;
	border: solid 15px white;
	margin: auto;
}

#search{
	float: right;
	color: white;
	height: 80%;
}

.ui-autocomplete {
	max-height: 160px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 1000px;
}