body {
	background-color: #8aa1ab;
	/* bold font for easier reading	 */
	font-family: 'Raleway', sans-serif;
}

img{
	width: 30%;
	display: block;
	margin: auto;
}

#insert *{
	margin: auto;
}

#content{
	margin:auto;
}

#insert{
	padding: 10px;
	background-color: #e39183;
	border: solid 15px white;
	margin: auto;
	position: relative;
	left: 40%;
}

#search{
	float: right;
	color: white;
	height: 80%;
}

.ui-autocomplete {
	max-height: 160px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 1000px;
}

#resultListDiv{
	width: 60%;
	height: auto;
	margin: 0 auto;
	padding: 40px;
}

#content > div {
	float: left;
}

#resultTable {
//border: 1px solid black;
//padding: 15px;
margin-left: 30px;
margin-top: 15px;
width: 400px;
}

th {
border: 1px solid black;
}

#filters{
margin-top: 75px;
}

/* for recipe.html */

#headerInfo {
	float: left;
	margin-left: auto;
    margin-right: auto;
    width: 70%;

}

#recipeImg {
	float: right;
	width: 30%;
}


/* selects the instructions p */
#majorInfo ul {
	width: 30%;
	float: left;
	padding: 10px;
	border: 1px solid white;
	margin: 10px;
	list-style: none;
}

/* selects the ingredients p 
#majorInfo p:nth-child(2) {
	position: relative;
	float: left;
	left: 60%;
}
*/

#recipeButtons{
	display: block;
	width: 60%;
	margin-bottom: 200px;
}

.filterTitle {
	color: #EDE297;
}

#back{
	display: block;
	float: left;
}

#recipeInfo{
	list-style: none;
}

#filters ul{
	list-style: none;
}

.filterField{
	background-color: none;
}


.ui-slider-horizontal .ui-state-default {
	background: white url(img/LadelIcon.png) no-repeat scroll 50% 50%;
}

.button-div {
	margin-top: 30px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: white;
	border-top: solid black 1px;
	width: 100%;
}

.button-div button{
	float: left;
	margin-left: 20%;
	margin-top:.5em;
	margin-bottom:.5em;
}

.resultDiv {
	width: 28%;
	display: inline-block;
	position: relative;
	background-color: white;
	border: solid 1px black;
	border-radius: 10px;
}

.resultList{
	list-style-type: none;
	margin-right: 25px;
}

.name{
	margin-bottom: 5px;
}

#instr li, #ingr li {
	margin-bottom: 5px;
}

#resultListDiv{
	margin-bottom: 80px;
}

#no-result{
	margin-left: 60px;
}

#welcome{
	position: fixed;
}

html body .ui-widget{
	font-family: 'Raleway', sans-serif;
}