body {
	background-color: #8aa1ab;
}

img{
	width: 30%;
	display: block;
	margin: auto;
}

#insert *{
	margin: auto;
}

#content{
	margin:auto;
}

#insert{
	padding: 10px;
	background-color: #e39183;
	border: solid 15px white;
	margin: auto;
	position: relative;
	left: 40%;
}

#search{
	float: right;
	color: white;
	height: 80%;
}

.ui-autocomplete {
	max-height: 160px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 1000px;
}

#resultListDiv{
	width: 60%;
	height: auto;
	margin: 0 auto;
	padding: 40px;
}

#resultListDiv table {
	width: 100%;
	background-color: white;
	/*padding: 40px;*/

}

#content > div {
	float: left;
}

#resultTable {
//border: 1px solid black;
//padding: 15px;
margin-left: 30px;
margin-top: 15px;
width: 400px;
}

th {
border: 1px solid black;
}

.filterTitle {
color: #EDE297;
}

#filters{
margin-top: 75px;
}

/* for recipe.html */

#headerInfo {
	position: relative;
	float: left;
}

#recipeImg {
	width: 10%;
	position: relative;
	clear: both;
	float: right;
	bottom: 175px;
}

/* selects the instructions p */
#majorInfo p:nth-child(1) {
	position: relative;
	float: left;
}

/* selects the ingredients p */
#majorInfo p:nth-child(2) {
	position: relative;
	float: left;
}

#backButton {
	position: relative;
	float: left;
	clear: both;
}

#newButton {
	position: relative;
	float: left;
	clear: both;
}